.calendar-header {
  margin-bottom: 20px;
}

.calendar-header span {
	color: #ffffff;
	font-weight: bold;
	font-size: 17px;
}

.calendar-header .control-btn {
  float: right;
}

.calendar-header .control-btn button {
  border: 0;
  border-radius: 3px;
  background-color: #2f3437;
  width: 23px;
  height: 23px;
  margin-left: 10px;
  outline: none;
}

.calendar-header .control-btn button:hover {
  background-color: #474c50;
}

.calendar-header .control-btn i {
  color: #8f9295;
}

.tbody .day div.before {
	background-color: grey;
	width: 19px;
	height: 19px;
	border-radius: 50px;
}

.tbody .day div.selected {
	background-color: red;
	width: 19px;
	height: 19px;
	border-radius: 50px;
}

.tbody .day div.today {
	background-color: gray;
	width: 19px;
	height: 19px;
	border-radius: 50px;
}

.day-names {
	display: flex;
	margin-bottom: 10px;
}

.day-names .week {
	margin-left: 6.5%;
	margin-right: 6.3%;
	color: #8f9295;
}

.tbody .day #dayNum {
	margin: 4px 0 0 4px;
	float: left;
}

.tbody .day .dayButton {
	float: right;
	margin-top: 3px;
	margin-right: 4px;
}

.tbody .day button {
	border: 0;
	background-color: #414649;
	color: #ffffff;
	font-weight: bold;
	border-radius: 2px;
	outline: 0;
	opacity: 0;
	transition: all .1s linear;
}

.tbody .day button:hover{
	background-color: #8f9295;
	opacity: 1;
	transform: scale(1);
}