.Modal input {
	width: 100%;
	height: 70px;
	border: 0;
	color: #ffffff;
	background-color: #2f3437;
	outline: 0;
	font-size: 45px;
	font-weight: bold;
}

.Modal .modal-type {

}

.Modal .modal-type .modal-type-label {
	color: #8f9295;
	margin-top: 25px;
	font-weight: bold;
}

.Modal .modal-type .modal-type-label i {
	margin-right: 10px;
}