.sidebar {
  background-color: #373c3f;
  width: 14%;
  height: 100%;
  float: left;
  overflow: auto;
  position: fixed;
  -ms-overflow-style: none;
  }
  
.sidebar::-webkit-scrollbar{ display:none; }

.sidebar-header {
  margin-top: 15px;
  margin-left: 18px;
  display: flex;
}

.sidebar-header .name {
  font-size: 14px;
  font-weight: bold;
  color: #e2e3e3;
  display: flex;
  margin-left: 12px;
}

.sidebar-header i {
  margin-left: 8px;
  color: #8f9295;
}

.sidebar-setting {
  display: flex;
  margin-top: 22px;
  margin-left: 20px;
}

.sidebar-setting i {
  color: #8f9295;
}

.sidebar-setting .setting-name {
  color: #8f9295;
  font-size: 14px;
  font-weight: bold;
  margin-left: 12px;
}

.sidebar-settings {
  display: flex;
  margin-top: 11px;
  margin-left: 20px;
}

.sidebar-settings i {
  color: #8f9295;
  font-weight: bold;
}

.sidebar-settings .setting-name {
  color: #8f9295;
  font-size: 14px;
  font-weight: bold;
  margin-left: 12px;
}

.sidebar-addpage {
  background-color: #474c50;
  height: 26px;
}

.sidebar-addpage .todolist {
  display: flex;
  margin-top: 35px;
  margin-left: 20px;
  padding: 2px;
}

.sidebar-addpage .todolist i {
  color: #8f9295;
  margin-left: 3px;
  margin-top: 3px;
}

.sidebar-addpage .todolist img {
  width: 15px;
  height: 15px;
  margin-top: 3px;
  margin-left: 10px;
}

.sidebar-addpage .todolist .addpage-name {
  color: #ffffff;
  font-size: 13px;
  font-weight: bold;
  margin-left: 12px;
  margin-top: 3px;
}

.sidebar-todolist {
  display: flex;
  margin-left: 20px;
}

.sidebar-todolist p {
  color: #8f9295;
  font-weight: bold;
  font-size: 20px;
  margin-left: 4px;
  margin-top: 3px;
}

.sidebar-todolist .addpage-name {
  color: #8f9295;
  font-size: 14px;
  font-weight: bold;
  margin-top: 6px;
  margin-left: 14px;
}

.sidebar-service {
  margin-top: 35px;
  margin-left: 20px;
}

.sidebar-service .templates {
  display: flex;
  margin-top: 12px;
}

.sidebar-service .templates i {
  color: #8f9295;
}

.sidebar-service .templates .service-name {
  color: #8f9295;
  font-size: 14px;
  font-weight: bold;
  margin-left: 12px;
}

.sidebar-service .templates .service-name_2 {
  color: #8f9295;
  font-size: 14px;
  font-weight: bold;
  margin-left: 15px;
}

.sidebar-service .templates .service-name_3 {
  color: #8f9295;
  font-size: 14px;
  font-weight: bold;
  margin-left: 17px;
}

.empty {
  height: 72%;
}

hr{
  border: 1px solid #8f9295;
}

.sidebar-footer {
  display: flex;
}

.sidebar-footer p {
  color: #8f9295;
  font-weight: bold;
  font-size: 20px;
  margin-left: 13px;
}

.sidebar-footer .footer-name {
  color: #8f9295;
  font-size: 12px;
  font-weight: bold;
  margin-top: 3px;
  margin-left: 12px;
}